django
anthropic
python-dotenv
langchain
langchain-anthropic
langchain-community
langchain-openai
openai
PyPDF2
chromadb
tiktoken
requests
django-environ
PyMuPDF
psycopg2-binary
whitenoise
gunicorn
python-decouple
django-storages[azure]
django-cors-headers
openparse[ml]
google-search-results
beautifulsoup4
