<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
    <!--begin::Col-->
    <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
        <!--begin::Card widget 20-->
        <div class="card card-flush h-xl-100 bgi-no-repeat bgi-size-contain bgi-position-x-end bg-danger" style="background-image:url('/assets/media/patterns/vector-1.png')">
            <!--begin::Header-->
            <div class="card-header pt-5 pb-5">
                <!--begin::Title-->
                <div class="card-title d-flex flex-column">
                    <!--begin::Amount-->
                    <span class="fs-2hx fw-bold text-white me-2 lh-1 ls-n2">
                        <i class="ki-duotone ki-document-list fs-2hx text-white me-2">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                        {{ casi.count }}
                    </span>
                    <!--end::Amount-->
                    <!--begin::Subtitle-->
                    <span class="text-white opacity-75 pt-1 fw-semibold fs-6">Casi Totali</span>
                    <!--end::Subtitle-->
                </div>
                <!--end::Title-->
            </div>
            <!--end::Header-->
            <!--begin::Card body-->
            <div class="card-body d-flex align-items-end pt-0">
                <!--begin::Progress-->
                <div class="d-flex align-items-center flex-column mt-3 w-100">
                    <div class="d-flex justify-content-between fw-bold fs-6 text-white opacity-75 w-100 mt-auto mb-2">
                        <span>In Corso</span>
                        <span>{{ casi_in_corso }}%</span>
                    </div>
                    <div class="h-8px mx-3 w-100 bg-white bg-opacity-50 rounded">
                        <div class="bg-white rounded h-8px" role="progressbar" style="width:{{ casi_in_corso }}%" aria-valuenow="{{ casi_in_corso }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <!--end::Progress-->
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card widget 20-->
    </div>
    <!--end::Col-->

    <!--begin::Col-->
    <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
        <!--begin::Card widget 20-->
        <div class="card card-flush h-xl-100 bgi-no-repeat bgi-size-contain bgi-position-x-end bg-success" style="background-image:url('/assets/assets/media/patterns/vector-1.png')">
            <!--begin::Header-->
            <div class="card-header pt-5 pb-5">
                <!--begin::Title-->
                <div class="card-title d-flex flex-column">
                    <!--begin::Amount-->
                    <span class="fs-2hx fw-bold text-white me-2 lh-1 ls-n2">
                        <i class="ki-duotone ki-check-circle fs-2hx text-white me-2">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                        {{ casi_completati }}
                    </span>
                    <!--end::Amount-->
                    <!--begin::Subtitle-->
                    <span class="text-white opacity-75 pt-1 fw-semibold fs-6">Casi Completati</span>
                    <!--end::Subtitle-->
                </div>
                <!--end::Title-->
            </div>
            <!--end::Header-->
        </div>
        <!--end::Card widget 20-->
    </div>
    <!--end::Col-->

    <!--begin::Col-->
    <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
        <!--begin::Card widget 20-->
        <div class="card card-flush h-xl-100 bgi-no-repeat bgi-size-contain bgi-position-x-end bg-info" style="background-image:url('/assets/assets/media/patterns/vector-1.png')">
            <!--begin::Header-->
            <div class="card-header pt-5 pb-5">
                <!--begin::Title-->
                <div class="card-title d-flex flex-column">
                    <!--begin::Amount-->
                    <span class="fs-2hx fw-bold text-white me-2 lh-1 ls-n2">
                        <i class="ki-duotone ki-calendar fs-2hx text-white me-2">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                        {{ casi_questo_mese }}
                    </span>
                    <!--end::Amount-->
                    <!--begin::Subtitle-->
                    <span class="text-white opacity-75 pt-1 fw-semibold fs-6">Casi Questo Mese</span>
                    <!--end::Subtitle-->
                </div>
                <!--end::Title-->
            </div>
            <!--end::Header-->
        </div>
        <!--end::Card widget 20-->
    </div>
    <!--end::Col-->

    <!--begin::Col-->
    <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
        <!--begin::Card widget 20-->
        <div class="card card-flush h-xl-100 bgi-no-repeat bgi-size-contain bgi-position-x-end bg-primary" style="background-image:url('/assets/assets/media/patterns/vector-1.png')">
            <!--begin::Header-->
            <div class="card-header pt-5 pb-5">
                <!--begin::Title-->
                <div class="card-title d-flex flex-column">
                    <!--begin::Amount-->
                    <span class="fs-2hx fw-bold text-white me-2 lh-1 ls-n2">
                        <i class="ki-duotone ki-timer fs-2hx text-white me-2">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                        {{ tempo_medio_risoluzione }}
                    </span>
                    <!--end::Amount-->
                    <!--begin::Subtitle-->
                    <span class="text-white opacity-75 pt-1 fw-semibold fs-6">Tempo Medio Risoluzion (giorni)</span>
                    <!--end::Subtitle-->
                </div>
                <!--end::Title-->
            </div>
            <!--end::Header-->
        </div>
        <!--end::Card widget 20-->
    </div>
    <!--end::Col-->
</div>
<!--end::Row-->
