{% extends 'cases/base.html' %}

{% block page_title %}Documento N° {{ document.exhibit_number }} - {{ caso.titolo }}{% endblock %}

{% block breadcrumbs %}
<!--begin::Item-->
<li class="breadcrumb-item">
    <span class="bullet bg-gray-500 w-5px h-2px"></span>
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="breadcrumb-item text-muted">
    <a href="{% url 'dettaglio_caso' caso.id %}" class="text-muted text-hover-primary">{{ caso.titolo }}</a>
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="breadcrumb-item">
    <span class="bullet bg-gray-500 w-5px h-2px"></span>
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="breadcrumb-item text-muted">
    <a href="{% url 'documentary_evidence_list' caso.id %}" class="text-muted text-hover-primary">Documenti</a>
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="breadcrumb-item">
    <span class="bullet bg-gray-500 w-5px h-2px"></span>
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="breadcrumb-item text-muted">Documento N° {{ document.exhibit_number }}</li>
<!--end::Item-->
{% endblock %}

{% block content %}
<!--begin::Container-->
<div class="container-xxl" id="kt_content_container">
    <!--begin::Card-->
    <div class="card card-flush h-lg-100">
        {% include 'cases/components/documentary_evidence/header.html' %}
        
        <!--begin::Card body-->
        <div class="card-body pt-6">
            <div class="row g-6">
                <!--begin::Content-->
                <div class="col-xl-8">
                    {% include 'cases/components/documentary_evidence/description.html' %}
                    {% include 'cases/components/documentary_evidence/ai_analysis.html' %}
                </div>
                <!--end::Content-->

                <!--begin::Sidebar-->
                <div class="col-xl-4">
                    {% include 'cases/components/documentary_evidence/sidebar.html' %}
                </div>
                <!--end::Sidebar-->
            </div>
        </div>
        <!--end::Card body-->

        {% include 'cases/components/documentary_evidence/footer.html' %}
    </div>
    <!--end::Card-->
</div>
<!--end::Container-->

{% include 'cases/components/documentary_evidence/scripts.html' %}
{% endblock %}
