{% extends 'cases/base.html' %}

{% block page_title %}Lista Fascicoli{% endblock %}

{% block breadcrumbs %}
<!--begin::Item-->
<li class="breadcrumb-item">
    <span class="bullet bg-gray-500 w-5px h-2px"></span>
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="breadcrumb-item text-muted">Lista Fascicoli</li>
<!--end::Item-->
{% endblock %}


{% block content %}
<!--begin::Content container-->
<div id="kt_app_content_container" class="app-container container-xxl">
    {% include "cases/components/stats_dashboard.html" %}
    {% include "cases/components/case_list.html" %}
</div>
<!--end::Content container-->
{% endblock %}

{% block extra_js %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    if (typeof bootstrap !== 'undefined') {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        tooltipTriggerList.forEach(function(tooltipTriggerEl) {
            new bootstrap.Tooltip(tooltipTriggerEl);
        });
    }
});
</script>
{% endblock %}
