{% extends "cases/base.html" %}
{% load static %}

{% block title %}PDF Analysis Details{% endblock %}

{% block extra_css %}
    {% include "legal_rag/components/pdf_analysis/styles.html" %}
{% endblock %}

{% block content %}
<!--begin::Card-->
<div class="card">
    <!--begin::Card header-->
    <div class="card-header border-0 pt-6">
        <!--begin::Card title-->
        <div class="card-title">
            <h2>PDF Analysis Details</h2>
        </div>
        <!--end::Card title-->
        <!--begin::Card toolbar-->
        <div class="card-toolbar">
            {% include "legal_rag/components/pdf_analysis/analysis_button.html" %}
            <a href="{% url 'legal_rag:pdf_analysis_list' %}" class="btn btn-light">
                <i class="ki-duotone ki-left fs-2"></i>
                Back to List
            </a>
        </div>
        <!--end::Card toolbar-->
    </div>
    <!--end::Card header-->
    
    <!--begin::Card body-->
    <div class="card-body py-4">
        <!--begin::Basic info-->
        {% include "legal_rag/components/pdf_analysis/basic_info.html" %}
        <!--end::Basic info-->

        <!--begin::Tabs-->
        {% include "legal_rag/components/pdf_analysis/tab_nav.html" %}
        <!--end::Tabs-->

        <!--begin::Tab Content-->
        <div class="tab-content" id="myTabContent">
            <!--begin::Extracted Text-->
            <div class="tab-pane fade show active" id="tab_extracted_text">
                <div class="card card-bordered">
                    <div class="card-body">
                        <pre class="text-gray-600">{{ analysis.extracted_text }}</pre>
                    </div>
                </div>
            </div>
            <!--end::Extracted Text-->

            <!--begin::Dati Generali-->
            <div class="tab-pane fade" id="tab_dati_generali">
                <div class="card card-bordered">
                    <div class="card-body">
                        {% include "legal_rag/components/pdf_analysis/tabs/dati_generali.html" %}
                    </div>
                </div>
            </div>
            <!--end::Dati Generali-->

            <!--begin::Info Legali-->
            <div class="tab-pane fade" id="tab_info_legali">
                <div class="card card-bordered">
                    <div class="card-body">
                        {% include "legal_rag/components/pdf_analysis/tabs/info_legali.html" %}
                    </div>
                </div>
            </div>
            <!--end::Info Legali-->

            <!--begin::Dati Processuali-->
            <div class="tab-pane fade" id="tab_dati_processuali">
                <div class="card card-bordered">
                    <div class="card-body">
                        {% include "legal_rag/components/pdf_analysis/tabs/dati_processuali.html" %}
                    </div>
                </div>
            </div>
            <!--end::Dati Processuali-->

            <!--begin::Analisi-->
            <div class="tab-pane fade" id="tab_analisi">
                <div class="card card-bordered">
                    <div class="card-body">
                        {% include "legal_rag/components/pdf_analysis/tabs/analisi.html" %}
                    </div>
                </div>
            </div>
            <!--end::Analisi-->
        </div>
        <!--end::Tab Content-->
    </div>
    <!--end::Card body-->
</div>
<!--end::Card-->
{% endblock %}
