{% load static %}
<!--begin::Footer Section-->
<div class="landing-dark-bg py-20">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Row-->
        <div class="row py-10 py-lg-20">
            <!--begin::Col-->
            <div class="col-lg-6 pe-lg-16 mb-10 mb-lg-0">
                <!--begin::Block-->
                <div class="rounded landing-dark-border p-9 mb-10">
                    <!--begin::Title-->
                    <h2 class="text-white">Hai Bisogno di Assistenza?</h2>
                    <!--end::Title-->
                    <!--begin::Text-->
                    <span class="fw-normal fs-4 text-gray-700">Contattaci via email 
                    <a href="mailto:support@avoccato.com" class="text-white opacity-50 text-hover-primary">support@avoccato.com</a></span>
                    <!--end::Text-->
                </div>
                <!--end::Block-->
                <!--begin::Block-->
                <div class="rounded landing-dark-border p-9">
                    <!--begin::Title-->
                    <h2 class="text-white">Richiedi una Demo Personalizzata</h2>
                    <!--end::Title-->
                    <!--begin::Text-->
                    <span class="fw-normal fs-4 text-gray-700">Scopri come possiamo aiutare il tuo studio legale.
                    <a href="#" class="text-white opacity-50 text-hover-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_demo_request">Richiedi Demo</a></span>
                    <!--end::Text-->
                </div>
                <!--end::Block-->
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-lg-6 ps-lg-16">
                <!--begin::Navs-->
                <div class="d-flex justify-content-center">
                    <!--begin::Links-->
                    <div class="d-flex fw-semibold flex-column me-20">
                        <!--begin::Subtitle-->
                        <h4 class="fw-bold text-gray-500 mb-6">Risorse</h4>
                        <!--end::Subtitle-->
                        <!--begin::Link-->
                        <a href="#" class="text-white opacity-50 text-hover-primary fs-5 mb-6">FAQ</a>
                        <!--end::Link-->
                        <!--begin::Link-->
                        <a href="#" class="text-white opacity-50 text-hover-primary fs-5 mb-6">Documentazione</a>
                        <!--end::Link-->
                        <!--begin::Link-->
                        <a href="#" class="text-white opacity-50 text-hover-primary fs-5 mb-6">Video Tutorial</a>
                        <!--end::Link-->
                        <!--begin::Link-->
                        <a href="#" class="text-white opacity-50 text-hover-primary fs-5 mb-6">Blog</a>
                        <!--end::Link-->
                    </div>
                    <!--end::Links-->
                    <!--begin::Links-->
                    <div class="d-flex fw-semibold flex-column ms-lg-20">
                        <!--begin::Subtitle-->
                        <h4 class="fw-bold text-gray-500 mb-6">Seguici</h4>
                        <!--end::Subtitle-->
                        <!--begin::Link-->
                        <a href="#" class="mb-6">
                            <img src="{% static 'assets/media/svg/brand-logos/facebook-4.svg' %}" class="h-20px me-2" alt="">
                            <span class="text-white opacity-50 text-hover-primary fs-5 mb-6">Facebook</span>
                        </a>
                        <!--end::Link-->
                        <!--begin::Link-->
                        <a href="#" class="mb-6">
                            <img src="{% static 'assets/media/svg/brand-logos/linkedin-2.svg' %}" class="h-20px me-2" alt="">
                            <span class="text-white opacity-50 text-hover-primary fs-5 mb-6">LinkedIn</span>
                        </a>
                        <!--end::Link-->
                        <!--begin::Link-->
                        <a href="#" class="mb-6">
                            <img src="{% static 'assets/media/svg/brand-logos/twitter.svg' %}" class="h-20px me-2" alt="">
                            <span class="text-white opacity-50 text-hover-primary fs-5 mb-6">Twitter</span>
                        </a>
                        <!--end::Link-->
                    </div>
                    <!--end::Links-->
                </div>
                <!--end::Navs-->
            </div>
            <!--end::Col-->
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
    <!--begin::Separator-->
    <div class="landing-dark-separator"></div>
    <!--end::Separator-->
    <!--begin::Container-->
    <div class="container">
        <!--begin::Wrapper-->
        <div class="d-flex flex-column flex-md-row flex-stack py-7 py-lg-10">
            <!--begin::Copyright-->
            <div class="d-flex align-items-center order-2 order-md-1">
                <!--begin::Logo-->
                <a href="{% url 'landing' %}">
                    <img alt="Logo" src="{% static 'assets/media/logos/landing.svg' %}" class="h-15px h-md-20px">
                </a>
                <!--end::Logo image-->
                <!--begin::Logo image-->
                <span class="mx-5 fs-6 fw-semibold text-gray-600 pt-1">© 2024 Avoccato. Tutti i diritti riservati.</span>
                <!--end::Logo image-->
            </div>
            <!--end::Copyright-->
            <!--begin::Menu-->
            <ul class="menu menu-gray-600 menu-hover-primary fw-semibold fs-6 fs-md-5 order-1 mb-5 mb-md-0">
                <li class="menu-item">
                    <a href="#" class="menu-link px-2">Chi Siamo</a>
                </li>
                <li class="menu-item mx-5">
                    <a href="#" class="menu-link px-2">Supporto</a>
                </li>
                <li class="menu-item">
                    <a href="#" class="menu-link px-2">Prezzi</a>
                </li>
            </ul>
            <!--end::Menu-->
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Container-->
</div>
<!--end::Footer Section-->
